name: Publish

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest, windows-2019]

    steps:
      - uses: actions/checkout@v3

      - name: Setup linux dependencies
        if: matrix.os == 'ubuntu-latest'
        run: |
          sudo apt update 
          sudo apt install pkg-config libudev-dev libusb-1.0-0-dev

      - uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - uses: actions/setup-node@v3
        with:
          node-version: 16
          registry-url: "https://npm.pkg.github.com"

      - run: npm run prepublishOnly
      - run: npm install --build-from-source
      - run: npm test
      
      - run: npm run prebuild
      - if: matrix.os == 'macos-latest'
        run: npm run prebuild -- --arch arm64

      - run: npm run prebuild-upload ${{ secrets.GITHUB_TOKEN }}

  publish:
    needs: build
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          registry-url: "https://npm.pkg.github.com"

      - run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
